@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

h1 {
  margin: 0;
}
.background {
  background-image: url("./assets/weather.png");
  min-height: 100vh;
}

.location {
  text-align: center;
  letter-spacing: NaNpx;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 20px;
  height: 103px;
  width: 336px;
}

.city {
  text-align: center;
  font: normal normal bold 62px/27px "Montserrat";
  color: #ffffff;
  height: 62px;
}

.date {
  text-align: center;
  font: italic normal normal 22px/27px "Montserrat";
  letter-spacing: 0px;
  color: #ffffff;
}

.meteo {
  position: relative;
  top: 222px;
  height: 293px;
  width: 336px;
  left: 20px;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 0.9;
}

.logoWeather {
  position: absolute;
  top: 25.88px;
  left: 53.15px;
  width: 82px;
  height: 91px;
  background: transparent 0% 0% no-repeat;
  opacity: 1;
}

.meteoComment {
  position: absolute;
  top: 47px;
  left: 158.5px;
  width: 123px;
  height: 54px;
  text-align: left;
  font: normal normal 800 22px/27px "Montserrat";
  letter-spacing: 0px;
  color: #404491;
  opacity: 1;
}

.temperature {
  position: absolute;
  width: 123px;
  height: 78px;
  top: 148px;
  left: 44.5px;
  text-align: left;
  font: italic normal 900 64px/78px "Montserrat";
  letter-spacing: 0px;
  color: #404491;
  opacity: 1;
}

.minMax {
  position: absolute;
  width: 91px;
  height: 58px;
  top: 158px;
  left: 239.5px;
}

.temp {
  text-align: left;
  font: italic normal bold 18px/36px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.separator {
  position: absolute;
  top: 30.5px;
  left: 1px;
  width: 90px;
  height: 0;
  border: 3px solid #707070;
  opacity: 1;
}

.windHumidity {
  position: absolute;
  width: 296px;
  height: 70px;
  top: 250px;
  left: 20px;
  background: #404491 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
}

.wind {
  position: absolute;
  top: 15px;
  left: 72px;
  width: 63px;
  height: 22px;
  text-align: left;
  font: normal normal bold 18px/38px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.windLogo {
  background: transparent url("./assets/Wind.svg") 0% 0% no-repeat padding-box;
  border: 1px solid #404491;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 20px;
  width: 44px;
  height: 28px;
}

.humidityLogo1 {
  background: transparent url("./assets/Cloud-Rain-Sun-Alt.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 199px;
  height: 25px;
  width: 21px;
}
.humidityLogo2 {
  background: transparent url("./assets/Cloud-Rain-Sun-Alt.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 218px;
  height: 25px;
  width: 21px;
}

.humidity {
  position: absolute;
  text-align: left;
  font: normal normal bold 18px/38px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  top: 15px;
  left: 245px;
  width: 39px;
  height: 22px;
}

.inputSearch {
  position: absolute;
  top: 28px;
  left: 75px;
  width: 224px;
  height: 24px;
  text-align: left;
  font: normal normal bold 20px/38px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.searchButton {
  position: absolute;
  top: 21.2px;
  width: 37px;
  height: 37px;
  left: 20px;
}

.searchBar {
  position: absolute;

  top: 582px;
  width: 336px;
  height: 80px;
  left: 20px;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 0.9;
}
